{% extends 'core/base.html' %}
{% load static %}

{% block title %}Login - ToVector.ai{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h1>Sign in to your account</h1>
        <p class="subtitle">Or <a href="{% url 'core:signup' %}">create a new account</a></p>
        
        <div class="social-login">
            <a href="{% url 'core:login' %}?connection=google-oauth2" class="social-button google">
                <img src="{% static 'core/images/google-icon.svg' %}" alt="Google">
                Continue with Google
            </a>
            
            <a href="{% url 'core:login' %}?connection=facebook" class="social-button facebook">
                <img src="{% static 'core/images/facebook-icon.svg' %}" alt="Facebook">
                Continue with Facebook
            </a>
        </div>

        <div class="divider">
            <span>Or continue with</span>
        </div>

        <a href="{% url 'core:login' %}?connection=Username-Password-Authentication" class="email-button">
            Continue with Email
        </a>
    </div>
</div>
{% endblock %} 